{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu">新建博客  <span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Django Blog</a></h1>
        </div>
        <div class="menu-top">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/">产品介绍</a></li>
                <li><a href="/">服务介绍</a></li>
                <li><a href="/">技术支持</a></li>
                <li><a href="/">立刻购买</a></li>
                <li><a href="/">联系我们</a></li>
            </ul>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>